<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/englishing_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Englishing"
        tools:targetApi="31">
        <activity
            android:name=".AmericanEnglishActivity"
            android:exported="false" />
        <activity
            android:name=".EnglishAtHomeActivity"
            android:exported="false" />
        <activity
            android:name=".LEOActivity"
            android:exported="false" />
        <activity
            android:name=".PerfectEnglishGrammarActivity"
            android:exported="false" />
        <activity
            android:name=".DoulingoActivity"
            android:exported="false" />
        <activity
            android:name=".CambridgeEnglishActivity"
            android:exported="false" />
        <activity
            android:name=".PurdueWritingLabActivity"
            android:exported="false" />
        <activity
            android:name=".DaveESLCafeActivity"
            android:exported="false" />
        <activity
            android:name=".TheEnglishPageActivity"
            android:exported="false" />
        <activity
            android:name=".BritishCouncilActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>